eureka-sv.adoptify.com {
    reverse_proxy eureka-sv:8761
    tls fuciliabel@gmail.com
}

gestionmascotas.adoptify.com {
    reverse_proxy gestionmascotas:7070
    tls fuciliabel@gmail.com
}

api-gateway.adoptify.com {
    reverse_proxy api-gateway:7076
    tls fuciliabel@gmail.com
}

contactanos.adoptify.com {
    reverse_proxy contactanos:7074
    tls fuciliabel@gmail.com
}

protectora-service.adoptify.com {
    reverse_proxy protectora-service:7075
    tls fuciliabel@gmail.com
}

auth-service.adoptify.com {
    reverse_proxy auth-service:7071
    tls fuciliabel@gmail.com
}

adoptante-service.adoptify.com {
    reverse_proxy adoptante-service:7073
    tls fuciliabel@gmail.com
}

